body {
    font-weight: bold;
}

.border-dark {
    border-width: 3px !important;
}

hr {
    height: 2px;
    background: black;
}

.btn, .btn:hover, .btn:active, .btn:link, .btn:visited {
    border-width: 3px !important;
    border-color: black !important;
    box-shadow: 3px 3px black !important;
    font-weight: bold;
}

#product_form input, select {
    border-width: 3px !important;
}

#product_form {
    width:500px;
}

.product-box {
    width: 230px;
}

.select_box {
    font-weight: bold !important;
}

#productType {
    height:40px;    
}

#noFurniture, #noBook, #noDVD {
  display:none;
}

p {
   word-wrap: break-word;
}

.alert{
    height: 45px;
    font-weight: bold;
    display: none;
}